* {
  padding: 0;
  margin: 0;
}
:root{
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(black , rgb(83, 79, 79));
  color: white;
  box-sizing: border-box;
}

.anchor {
  color: white;
  margin-right: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-inline: 50px;
}
.nav-anc {
  display: flex;
  margin-top: 20px;
}
.logo {
  height: 80px;
}
.home {
  /* border: 2px solid greenyellow; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.home-container {
  display: flex;
  width: 900px;
  margin: auto;
  /* background-color: rgb(34, 129, 212); */
  /* border: 2px solid red; */
  box-sizing: border-box;
}
.home-container-text {
  padding: 50px;
  box-sizing: border-box;
}
.home-container-heading {
  margin-bottom: 30px;
}
.home-container-desc {
  margin-bottom: 20px;
}
.profile-photo-div {
  padding: 50px;
  /* border: 2px solid rgb(84, 197, 50); */
  box-sizing: border-box;
}
.profile-photo {
  height: 320px;
  width: 270px;
  border-radius: 10px;
}
.portfolio-button {
  height: 40px;
  width: 100px;
  background-image: linear-gradient(rgb(108, 201, 199), rgb(23, 142, 188));
  border: 2px solid rgb(86, 79, 79);
  border-radius: 8px;
  color: white;
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.portfolio-button:hover{
  color: black;
}
.about {
  height: 100vh;
  width: 100vw;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin: auto;
}
.about-container {
  /* border: 2px solid rgb(24, 74, 131); */
  width: 900px;
  margin: auto;
}
.about-heading {
  margin-bottom: 50px;
  font-size: 40px;
}
.about-desc {
  margin-bottom: 20px;
  font-size: 20px;
}
.portfolio {
  /* border: 2px solid rgb(205, 51, 153); */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.portfolio-container {
  /* background-color: chartreuse; */
  height: 600px;
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.portfolio-text {
  /* border: 2px solid red; */
  height: 100px;
  width: 900px;
  margin: auto;
}
.portfolio-heading {
  margin-bottom: 15px;
}
.portfolio-box-container {
  /* border: 2px solid rgb(89, 209, 183); */
}
/* common css box */
.box {
  /* background-color: rgb(130, 64, 191); */
  height: 200px;
  width: 280px;
  border-radius: 10px;
  background-color: rgb(113, 103, 103);
}
.box:hover{
  background-color: rgb(157, 150, 150);
}
.box-c1 {
  display: flex;
  justify-content: space-between;
}
.box-c2 {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.experience {
  /* border: 2px solid rgb(205, 51, 153); */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.experience-container {
  /* background-color: chartreuse; */
  height: 600px;
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.experience-text {
  /* border: 2px solid red; */
  height: 100px;
  width: 900px;
  margin: auto;
}
.experience-heading {
  margin-bottom: 15px;
}
.experience-box-container {
  /* border: 2px solid rgb(89, 209, 183); */
}
.boxe {
  /* background-color: rgb(201, 239, 48); */
  height: 200px;
  width: 280px;
  border-radius: 10px;
  background-color: rgb(113, 103, 103);
}
.box-e1 {
  display: flex;
  justify-content: space-between;
}
.box-e2 {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
/* boxes css */
.box1-image {
  height: 80%;
  background-color: red;
  background-image: url("https://th.bing.com/th/id/OIP.zXXevyenUpITfGVXdRHvkQHaEk?w=276&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  background-size: cover;
  border-radius: 8px;
}
.box1-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.box2-image {
  height: 80%;
  background-color: red;
  background-image: url("https://d226lax1qjow5r.cloudfront.net/blog/blogposts/how-to-use-environment-variables-in-node-js/node-js-environmental-variables.png");
  background-size: cover;
  border-radius: 8px;
}
.box2-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.box3-image {
  height: 80%;
  background-color: red;
  background-image: url("https://th.bing.com/th/id/OIP.4qB7P00M0JOKbu5lckMOtwHaEK?w=312&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  background-size: cover;
  border-radius: 8px;
}
.box3-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.box4-image {
  height: 80%;
  background-color: red;
  background-image: url("https://static.wixstatic.com/media/72c0b2_fa64bda2b2a7412890fe47ec11d48321~mv2.jpg/v1/fill/w_1000,h_571,al_c,q_90,usm_0.66_1.00_0.01/72c0b2_fa64bda2b2a7412890fe47ec11d48321~mv2.jpg");
  background-size: cover;
  border-radius: 8px;
}
.box4-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.box5-image {
  height: 80%;
  background-color: red;
  background-image: url("https://th.bing.com/th/id/OIP.F4SMEUJPTIy3O2f4lMj-fwHaD4?w=338&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  background-size: cover;
  border-radius: 8px;
}
.box5-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.box6-image {
  height: 80%;
  background-color: red;
  background-image: url("https://th.bing.com/th/id/OIP.IFlYEOB7ycwqdMptR24cNwHaEK?w=270&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  background-size: cover;
  border-radius: 8px;
}
.box6-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
} 

.box7-image {
  height: 80%;
  background-color: rgb(128, 120, 120);
  border-radius: 10px;
  background-image: url("");
  background-size: cover;
}
.box7-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.box8-image {
  height: 80%;
  background-color: rgb(128, 120, 120);
  border-radius: 10px;
  background-image: url("");
  background-size: cover;
}
.box8-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.box9-image {
  height: 80%;
  background-color: rgb(128, 120, 120);
  border-radius: 10px;
  background-image: url("");
  background-size: cover;
}
.box9-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.box10-image {
  height: 80%;
  background-color: rgb(128, 120, 120);
  border-radius: 10px;
  background-image: url("");
  background-size: cover;
}
.box10-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.box11-image {
  height: 80%;
  background-color: rgb(128, 120, 120);
  border-radius: 10px;
  background-image: url("");
  background-size: cover;
}
.box11-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.box12-image {
  height: 80%;
  background-color: rgb(128, 120, 120);
  border-radius: 10px;
  background-image: url("");
  background-size: cover;
}
.box12-button {
  /* background-color: rgb(84, 186, 44); */
  height: 18%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-inline: 20px;
}
.boxe-text {
  margin: auto;
}

/* common css demo and code anchor tag*/
.demo {
  /* border: 2px solid black; */
  height: 100%;
  color: white;
  margin-top: 5px;
}
.code {
  /* border: 2px solid black; */
  height: 100%;
  color: white;
  margin-top: 5px;
}
/* footer section css */
.footer{
  width: 100vw;
}
.footer-container{
  /* border: 2px solid red; */
  width: 500px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
.contact-text{
  margin-bottom: 30px;
  color: rgb(165, 158, 158);
}
.contact-option{
  color: rgb(165, 158, 158);
}
.fix-container{
  position: fixed;
  /* background-color:rgb(128, 114, 114); */
  margin-top: 280px;
  width: 160px;
  margin-left: -100px;
}
.fix-container-box{
  margin-bottom: 10px;
  margin-inline: 10px;
  margin-top: 10px;
}
/* fix-container box1234 */
.fix-container-box1{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  font-size: 20px;
  padding: 10px;
  background-color: rgb(128, 114, 114);
}
.fix-container-box2{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  font-size: 20px;
  padding: 10px;
  background-color: rgb(128, 114, 114);
}
.fix-container-box3{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  font-size: 20px;
  padding: 10px;
  background-color: rgb(128, 114, 114);
}
.fix-container-box4{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  font-size: 20px;
  padding: 10px;
  background-color: rgb(128, 114, 114);
}
/* fix container hover css */
.fix-container-box1:hover{
  margin-left: 80px;
  background-color: rgb(128, 114, 114);
  width: 100px;
}
.fix-container-box2:hover{
  margin-left: 80px;
  background-color: rgb(128, 114, 114);
  width: 100px;
}
.fix-container-box3:hover{
  margin-left: 80px;
  background-color: rgb(128, 114, 114);
  width: 100px;
}
.fix-container-box4:hover{
  margin-left: 80px;
  background-color: rgb(128, 114, 114);
  width: 100px;
}